@media screen and (min-width: 340px) and (max-width: 400px) {
  .netflix__logo {
    width: 70px;
  }

  .user__avatar {
    width: 46px;
  }

  // Banner /////

  .banner__foregroundContent {
    padding-top: 105px;

    .bannerTitle {
      margin-left: 22px;
    }

    .banner__btnsWrapper {
      margin-left: 18px;
    }

    .bannerBtn {
      font-size: 15px;
      margin-top: 1.25rem;
    }

    .bannerDescription {
      font-size: 15px;
      max-width: 350px;
      margin-left: 18px;
    }
  }

  .banner__fade__bottom {
    height: 16.5rem;
  }

  // Row ////////

  .row__postersContainer {
    margin-left: 0px;
    margin-top: 0.7rem;
  }

  .row__postersContainer::-webkit-scrollbar {
    display: none;
  }

  .rowTitle {
    font-size: 21px;
    margin-left: 1.2rem;
  }

  .rowPoster {
    transition: transform 450ms;
  }
}
