@media screen and (min-width: 401px) and (max-width: 455px) {
  .netflix__logo {
    width: 70px;
    margin-left: -0.3rem;
  }

  .user__avatar {
    width: 46px;
    margin-right: 1rem;
  }

  // Banner /////

  .banner__foregroundContent {
    padding-top: 105px;

    .bannerTitle {
      margin-left: 22px;
    }

    .banner__btnsWrapper {
      margin-left: 18px;
    }

    .bannerBtn {
      font-size: 15px;
      margin-top: 1.25rem;
    }

    .bannerDescription {
      font-size: 15.85px;
      max-width: 350px;
      margin-left: 18px;
    }
  }

  .banner__fade__bottom {
    height: 16.5rem;
  }

  // Row ////////

  .row__postersContainer {
    margin-left: 0.5rem;
  }

  .rowTitle {
    font-size: 21.5px;
    margin-left: 1.25rem;
  }
}
